USE [master]
GO
/****** Object:  Database [PVV_K22CNT3]    Script Date: 6/12/2024 11:56:24 AM ******/
CREATE DATABASE [PVV_K22CNT3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PVV_K22CNT3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PVV_K22CNT3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PVV_K22CNT3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PVV_K22CNT3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PVV_K22CNT3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PVV_K22CNT3]
GO
/****** Object:  Table [dbo].[pvv-khoa]    Script Date: 6/12/2024 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pvv-khoa](
	[PVVMaKH] [nchar](10) NOT NULL,
	[PVVTenKH] [nvarchar](50) NULL,
	[PVVTrangThai] [bit] NULL,
 CONSTRAINT [PK_pvv-khoa] PRIMARY KEY CLUSTERED 
(
	[PVVMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pvv-sinhvien]    Script Date: 6/12/2024 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pvv-sinhvien](
	[PvvMaSV] [nvarchar](50) NOT NULL,
	[PvvHoSV] [nvarchar](50) NULL,
	[PvvTenSV] [nvarchar](50) NULL,
	[PvvNgaySinh] [date] NULL,
	[PvvPhai] [bit] NULL,
	[PvvPhone] [nvarchar](50) NULL,
	[PvvEmail] [nvarchar](50) NULL,
	[PvvMaKH] [nchar](10) NULL,
 CONSTRAINT [PK_pvv-sinhvien] PRIMARY KEY CLUSTERED 
(
	[PvvMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pvv-sinhvien]  WITH CHECK ADD  CONSTRAINT [FK_pvv-sinhvien_pvv-khoa] FOREIGN KEY([PvvMaKH])
REFERENCES [dbo].[pvv-khoa] ([PVVMaKH])
GO
ALTER TABLE [dbo].[pvv-sinhvien] CHECK CONSTRAINT [FK_pvv-sinhvien_pvv-khoa]
GO
USE [master]
GO
